@import "~bootstrap/dist/css/bootstrap.css"
//@import "fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css"
//@import "_fonts"
//@import "_colors"
//@import "_variables"

//div
  //border 1px solid red
